.catalog-promo {
  min-height: 289px;
  margin-bottom: 20px;
}

.catalog-promo__wrapper {
  min-width: 280px;
  min-height: 289px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: $basic-green;
  background-image: url("../../img/gift-photo-mobile.png");
  background-repeat: no-repeat;
}

.catalog-promo__text {
  @include fonts(16px, 20px);
  color: $basic-white;
}
