.catalog-promo {

  min-height: 289px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 190px;
  }
}

.catalog-promo__wrapper {
  min-width: 100%;
  min-height: 289px;
  background-color: $basic-green;
  background-image: url("../../img/gift-photo-mobile.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: url("../../img/gift-photo-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;
    background-image: url("../../img/gift-photo-desktop.png");
  }
}

.catalog-promo__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    align-items: flex-end;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.catalog-promo__text {
  @include fonts(16px, 20px);
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 168px;
  width: 161px;
  color: $basic-white;

  &::before {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 58px;
    left: 43px;
    background-image: url("../../img/icons/icon_gift.svg");

    @media (min-width: $tablet-width) {
      top: 62px;
      left: -347px;
    }

    @media (min-width: $desktop-width) {
      top: 59px;
      left: 44px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 71px;
    padding-right: 124px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 187px;
    padding-right: 43px;
  }
}
