.catalog-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 184px;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-top: 1px solid $separate-grey;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 324px;
    min-height: 430px;
    margin-bottom: 140px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: $basic-grey;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    top: -10px;
    min-height: 431px;
    margin-bottom: 144px;
    padding-left: 35px;
    padding-right: 30px;
  }

  &--last {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid $separate-grey;

    @media (min-width: $tablet-width) {
      border: 2px solid $basic-grey;
      margin-bottom: 140px;
      background-color: $basic-white;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:nth-last-child(3),
  &:nth-last-child(4) {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.catalog-item__link {
  @include link-decoration-reset();
  margin: 0;
  padding: 0;

  &:active {
    color: $special-heading-black;
  }

  &:visited {
    color: $special-heading-black;
  }

  &--heading {
    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &--image {
    @media (min-width: $tablet-width) {
      position: absolute;
    }
  }

  &--image-small {
    @media (min-width: $tablet-width) {
      top: -45px;
    }

    @media (min-width: $desktop-width) {
      top: -52px;
    }
  }

  &--image-large {
    @media (min-width: $tablet-width) {
      top: -72px;
    }

    @media (min-width: $desktop-width) {
      top: -82px;
    }
  }
}

.catalog-item__image {
  &--small {
    margin-top: 33px;
    margin-left: 36px;

    @media (min-width: $tablet-width) {
      width: 161px;
      height: 172px;
      margin: 0;
    }
  }

  &--small-fish {
    margin-top: 47px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &--small-buckwheat {
    margin-top: 50px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &--small-rice {
    margin-top: 45px;
    margin-left: 34px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &--large {
    margin-top: 30px;
    margin-left: 28px;

    @media (min-width: $tablet-width) {
      width: 168px;
      height: 206px;
      margin: 0;
    }
  }
}

.catalog-item__text-info {
  margin: 0;
  padding: 0;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding-top: 160px;
  }
}

.catalog-item__heading {
  position: relative;

  @include oswald(400);
  @include fonts(16px, 20px);
  width: 76px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 24px);
    text-align: center;
    width: 154px;
    margin-left: auto;
    margin-right: auto;
  }

  &--additional {
    width: 205px;
    padding-top: 78px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $special-cross-grey;
      top: 37px;
      left: 86px;

      @media (min-width: $tablet-width) {
        width: 60px;
        top: 84px;
        left: 36px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 30px;
      background-color: $special-cross-grey;
      top: 23px;
      left: 100px;

      @media (min-width: $tablet-width) {
        height: 60px;
        top: 56px;
        left: 65px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 134px;
      padding-top: 161px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 169px;
    }
  }
}

.catalog-item__description {
  @include list-reset();
}

.catalog-item__button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.catalog-item__text {
  @include fonts(12px, 16px);
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 18px);
    width: 167px;
    padding-top: 23px;
    padding-bottom: 87px;
    text-align: center;
    color: $text-grey;
  }
}
