.catalog-promo {
  min-height: 289px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 180px;
  }
}

.catalog-promo__wrapper {
  min-width: 100%;
  min-height: 289px;
  background-color: $basic-green;
  background-image: url("../../img/gift-photo-mobile.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: url("../../img/gift-photo-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 289px;
    background-image: url("../../img/gift-photo-desktop.png");
  }
}

.catalog-promo__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    align-items: flex-end;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.catalog-promo__text {
  @include fonts(16px, 20px);
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 188px;
  width: 161px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 72px;
    padding-right: 126px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 187px;
    padding-right: 43px;
    text-align: center;
  }
}

.catalog-promo__icon {
  position: absolute;
  color: $basic-white;
  top: 58px;
  left: 103px;

  @media (min-width: $tablet-width) {
      top: 58px;
      left: 78px;
    }

  @media (min-width: $desktop-width) {
    top: 59px;
    left: 84px;
  }
}
