.slider {
  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;
  }
}

.slider__list {
  @include list-reset();
  margin-bottom: 13px;
}

.slider__item {
  display: none;
  text-align: center;
  min-height: 240px;

  &--current {
    display: block;
  }
}

.slider__image {
  @media (min-width: $tablet-width) {
    width: 708px;
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    height: 515px;
  }
}

.slider__image--fat {
  position: relative;
  left: -21px;
}

.slider__image--thin {
  display: none;
}

.slider__text {
  @include oswald(400);
  @include fonts(16px, 20px);
  border: none;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 29.64px);
    border-bottom: 1px dotted $frame-grey;
  }

  &:hover {
    border-bottom: 1px solid $frame-grey;
  }

  &:active {
    border-bottom: none;
  }
}

.slider__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 228px;
  min-height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 592px;
  }
}

.slider__scale {
  position: relative;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  border: 1px solid $border-grey;
  border-radius: 6px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    margin-left: 22.5px;
    margin-right: 24px;
  }
}

.slider__bar {
  box-sizing: border-box;
  width: 50%;
  height: 6px;
  margin-top: 3px;
  margin-bottom: 4px;
  margin-left: 6px;
  background-color: $basic-green;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -17px;
    left: 200px;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    background-color: $basic-green;
    border: 13px solid $basic-white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba($basic-black, 0.16);
  }
}
