.slider {
  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-top: 35px;
    padding-left: 76px;
    box-sizing: border-box;
  }
}

.slider__list {
  @include list-reset();
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 700px;
    min-height: 590px;
  }

  @media (min-width: $desktop-width) {
    top: -20px;
    left: 10px;
    margin-bottom: 11px;
  }
}

.slider__item {
  display: none;
  text-align: center;

  &--current {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 700px;
    min-height: 590px;
  }
}

.slider__item--fat {
  @media (min-width: $tablet-width) {
    left: 0;
    width: 50%;
  }
}

.slider__item--thin {
  @media (min-width: $tablet-width) {
    right: 0;
    width: 50%;
  }
}

.slider__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
  }

  &--fat {
    @media (min-width: $tablet-width) {
      left: 350px;
      transform: translateX(-50%);
    }
  }

  &--thin {
    @media (min-width: $tablet-width) {
      right: 350px;
      top: -7px;
      transform: translateX(50%);
    }
  }
}

.slider__text {
  @include oswald(400);
  @include fonts(16px, 20px);
  border: none;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 29.64px);
    border-bottom: 1px dotted $frame-grey;
  }

  &:hover {
    border-bottom: 1px solid $frame-grey;
  }

  &:active {
    border-bottom: none;
  }
}

.slider__controls--after .slider__text {
  @media (min-width: $desktop-width) {
    position: relative;
    left: 21px;
  }
}

.slider__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 228px;
  min-height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 592px;
    padding-bottom: 64px;
  }
}

.slider__control {
  &--before {
    padding-left: 10px;

    @media (min-width: $desktop-width) {
      padding-left: 42px;
    }
  }

  &--after {
    padding-right: 5px;
  }
}

.slider__scale {
  position: relative;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  border: 1px solid $border-grey;
  border-radius: 6px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    margin-left: 22px;
    margin-right: 24px;
    background-color: $border-grey;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.slider__bar {
  box-sizing: border-box;
  width: 43%;
  height: 6px;
  margin-top: 3px;
  margin-bottom: 4px;
  margin-left: 6px;
  background-color: $basic-green;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -17px;
    left: 190px;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    background-color: $basic-white;
    border: 1px solid $frame-grey;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba($basic-black, 0.16);

    &:hover {
      box-shadow: 0 2px 6px rgba($basic-black, 0.16);
    }

    &:active {
      border: 2px solid $basic-green;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      border-radius: 50%;
    }
  }
}
