.form__main-info {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.form__owner-info{
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.form__additional-info {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__final-info {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__label {
  display: block;
  margin-bottom: 14px;

  @include oswald(400);
  @include fonts(16px, 18px);
  text-transform: uppercase;

  &--text,
  &--email {
    color: $text-grey;
  }

  &--checkbox {
    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 50%;
    }
  }
}

.form__input--textarea {
  min-width: 280px;
}

.form__input::placeholder {
  @include oswald(400);
  @include fonts(16px, 18px);
  text-transform: uppercase;
  color: $text-grey;
}

.form__button {
  width: 100%;
  border: none;
  padding: 7px 44px;

  @media (min-width: $tablet-width) {
    width: 282px;
  }

   @media (min-width: $desktop-width) {
    width: 568px;
  }
}
