.main-nav__list {
  @include list-reset();
  @include oswald(500);
}

.main-nav__item {
  text-transform: uppercase;

  @include fonts(20px, 20px);
}

.main-nav__link {
  color: rgba($basic-black, 1);

  @include link-decoration-reset();

  &:hover:not(.main-nav__link--active) {
    color: rgba($basic-black, 0.6);
  }

  &:active:not(.main-nav__link--active) {
    color: rgba($basic-black, 0.3);
  }
}
