.page-footer {
  position: relative;
  background-color: $basic-grey;
}

.page-footer__contacts {
  background-color: $basic-white;

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }

  &--form {
    background-color: $basic-grey;
  }
}

.page-footer__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-top: 22px;
    padding-bottom: 37px;
    padding-left: 41px;
    padding-right: 41px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    align-items: center;
    background-color: $basic-white;
    padding-bottom: 37px;
    padding-left: 76px;
    padding-right: 89px;
    box-sizing: border-box;
  }

  &--form {
    @media (min-width: $tablet-width) {
      padding-bottom: 41px;
    }
  }
}

.page-footer__heading {
  @include oswald(400);
  @include fonts(16px, 21px);

  width: 140px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 24px;
  text-transform: uppercase;
  color: $special-black;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 24px);
    width: 170px;
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 41px;
  }

  &--form {
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      padding-top: 45px;
    }
  }
}

.page-footer__adress {
  @include fonts(14px, 20px);
  width: 140px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 22px;
  color: $text-grey;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 20px);
    width: 159px;
    padding-top: 42px;
    padding-bottom: 18px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    @include fonts(16px, 20px);
    width: 159px;
    text-align: left;
    padding-top: 38px;
  }

  &--form {
    @media (min-width: $tablet-width) {
      padding-top: 43px;
      padding-right: 3px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
    }
  }
}

.page-footer__city {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 20px;
  }
}

.page-footer__map {
  min-height: 362px;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    min-height: 400px;
    background-image: url("../img/map-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.png");
    }
  }
}

.page-footer__embedded-map {
  min-height: 362px;
  width: 100%;
  frameborder: 0;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

/*.page-footer__map img {
  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}*/

.page-footer__bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 150px;
    align-items: flex-start;
  }
}

.page-footer__logo-text {
  display: block;
  padding-top: 36px;
  padding-bottom: 26px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 0;
  }
}

.page-footer__social {
  width: 100%;
  text-align: center;
  border-top: 1px solid $separate-grey;
  border-bottom: 1px solid $separate-grey;

  @media (min-width: $tablet-width) {
    border: 0;
    width: 129px;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.page-footer__copyright {
  padding-top: 20px;
  padding-bottom: 22px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 163px;
    padding-top: 50px;
    padding-bottom: 0;
    padding-right: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 163px;
    padding-right: 0;
    padding-top: 53px;
  }
}
