.programs__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.programs__item {
  min-height: 266px;
  background-color: $basic-grey;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    min-height: 372px;
  }

  @media (min-width: $desktop-width) {
    width: 580px;
  }
}

.programs__title {
  @include oswald(400);
  @include fonts(24px, 37px);
  text-transform: uppercase;
}

.programs__description {
  color: $text-grey;
}


.programs__link {
  @include oswald(400);
  @include fonts(16px, 16px);
  color: $basic-black;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    color: rgba($basic-black, 0.3);
  }
}
