.promo {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../../img/index-promo-background-mobile.png");
  background-size: 100% 302px;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 552px;
    margin-bottom: 96px;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.promo__wrapper img {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 13px;
    left: 558px;
    width: 552px;
    height: 499px;
  }
}

.promo__heading {
  @include oswald(400);
  @include fonts(36px, 36px);
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include fonts(60px, 60px);
    width: 414px;
    padding-left: 87px;
    padding-bottom: 41px;
    padding-top: 47px;
    text-align: left;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-top: 95px;
  }
}

.promo__slogan {
  @include oswald(400);
  @include fonts(14px, 14px);
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
  color: $basic-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    color: $basic-black;
    padding-left: 87px;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-bottom: 0;
    padding-left: 80px;
  }
}

.promo__button {
  padding: 10px 44px;
  text-align: center;
  box-sizing: border-box;

  @include fonts(14px, 18px);
  @include link-decoration-reset();

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    position: absolute;
    top: 277px;
    z-index: 2;
    margin-left: 83px;
    padding: 16px 26px;
    width: 244px;
  }

  @media (min-width: $desktop-width) {
    top: 328px;
    margin-left: 80px;
  }
}
