.promo {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 320px;
    height: 304px;
    background-image: url("../../img/index-promo-background-mobile.png");
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: block;
      width: 720px;
      height: 694px;
      top: -80px;
      left: 720px;
      background-color: $basic-green;
      background-repeat: no-repeat;
      background-size: 720px 694px;
    }
    min-height: 700px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.promo__heading {
  @include oswald(400);
  @include fonts(36px, 36px);

  @media (min-width: $tablet-width) {
    color: $basic-black;
  }
}

.promo__slogan {
  @include oswald(400);
  @include fonts(14px, 14px);
  color: $basic-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $basic-black;
  }
}

.promo__button {
  padding: 7px 44px;
  text-align: center;

  @include fonts(14px, 18px);
  @include link-decoration-reset();

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    padding: 14px 26px;
    width: 244px;
  }
}
