.promo {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../../img/index-promo-background-mobile.png");
  background-size: 100% 302px;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: calc(100% + 70px) 0;
    background-image: url("../../img/index-promo-background-desktop.png");
    min-height: 700px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
}

.promo__heading {
  @include oswald(400);
  @include fonts(36px, 36px);

  @media (min-width: $tablet-width) {
    color: $basic-black;
  }
}

.promo__slogan {
  @include oswald(400);
  @include fonts(14px, 14px);
  color: $basic-white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $basic-black;
  }
}

.promo__button {
  padding: 7px 44px;
  text-align: center;

  @include fonts(14px, 18px);
  @include link-decoration-reset();

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    padding: 14px 26px;
    width: 244px;
  }
}
