*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  box-sizing: border-box;
}

.page__body {
  margin: 0 auto;
  width: 320px;
  background: $basic-white;

  @include arial (400);
  @include fonts (14px, 18px);

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}
