/* colors */

$basic-green: #68B738;
$basic-grey: #F2F2F2;
$basic-white: #FFFFFF;
$basic-black: #000000;

/*special*/
$border-grey: #E6E6E6;
$separate-grey: #D9D9D9;
$text-grey: #444444;
$frame-grey: #CDCDCD;
$slider-bar-grey: #DCDCDC;
$special-black: #111111;
$active-green: 5EAA2F;


