/* colors */
/* basic */
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$basic-white: #ffffff;
$basic-black: #000000;

/* special */
$border-grey: #e6e6e6;
$separate-grey: #d9d9d9;
$text-grey: #444444;
$frame-grey: #cdcdcd;
$slider-bar-grey: #dcdcdc;
$special-black: #111111;
$special-heading-black: #222222;
$active-green: #5eaa2f;
$hover-grey: #ebebeb;
$special-hover-grey: #bababa;
$error-red: #ff8282;


/* Viewports */

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
