// Начните писать стили здесь
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/visually-hidden.scss";
@import "global/mixins.scss";
@import "global/global.scss";
@import "blocks/main-nav.scss";
@import "blocks/button.scss";
@import "blocks/heading.scss";
@import "blocks/promo.scss";
@import "blocks/programs.scss";
@import "blocks/instruction.scss";
@import "blocks/example.scss";
@import "blocks/example-slider.scss";
@import "blocks/page-header.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/program.scss";
@import "blocks/form.scss";
@import "blocks/fieldset.scss";
@import "blocks/catalog-general.scss";
@import "blocks/catalog-item.scss";
@import "blocks/main-item-description.scss";
@import "blocks/catalog-additional.scss";
@import "blocks/additional-item.scss";
@import "blocks/catalog-promo.scss";
@import "blocks/wrapper.scss";
@import "blocks/catalog-bottom-container.scss"
