/* fonts */
@font-face {
  font-family: "Oswald-medium";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap; }

/* colors */
/* basic */
/* special */
/* Viewports */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/*.page {
  box-sizing: border-box;
  height: 100%;
}
*/
.page__body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 768px) {
    .page__body {
      min-width: 768px; } }
  @media (min-width: 1440px) {
    .page__body {
      min-width: 1440px; } }

.main-nav {
  width: 100%; }
  @media (min-width: 768px) {
    .main-nav {
      width: 440px; } }
  @media (min-width: 1440px) {
    .main-nav {
      padding-top: 16px;
      padding-right: 40px; } }

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 280px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500; }
  @media (min-width: 768px) {
    .main-nav__list {
      width: 440px;
      flex-direction: row;
      justify-content: space-between; } }
  @media (min-width: 1440px) {
    .main-nav__list {
      width: 483px;
      flex-direction: row; } }

.main-nav__item {
  display: block;
  text-transform: uppercase;
  margin-left: -20px;
  margin-right: -20px;
  font-size: 20px;
  line-height: 20px; }
  @media (min-width: 768px) {
    .main-nav__item {
      font-size: 18px;
      line-height: 24px;
      margin: 0;
      padding: 0; } }

.main-nav__link {
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  color: black;
  text-decoration: none; }
  .main-nav__link:hover:not(.main-nav__link--active) {
    color: rgba(0, 0, 0, 0.6); }
  .main-nav__link:active:not(.main-nav__link--active) {
    color: rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .main-nav__link {
      border-top: none;
      margin: 0;
      padding: 0; }
      .main-nav__link--active {
        border-bottom: 2px solid #68b738; } }
  @media (min-width: 1440px) {
    .main-nav__link {
      color: #ffffff;
      font-size: 20px;
      line-height: 29.64px; }
      .main-nav__link--active {
        border-bottom: 2px solid #ffffff; }
      .main-nav__link:hover:not(.main-nav__link--active) {
        color: rgba(255, 255, 255, 0.6); }
      .main-nav__link:active:not(.main-nav__link--active) {
        color: rgba(255, 255, 255, 0.3); } }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 18px;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  background-color: #ffffff;
  cursor: pointer;
  border: none; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; }

.main-nav--opened .main-nav__toggle {
  top: 4px;
  right: 19px; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg); }

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  text-align: center;
  text-transform: uppercase; }
  .button:hover {
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }

.button--grey {
  background-color: #f2f2f2;
  color: #444444;
  border: none; }
  .button--grey:hover {
    background-color: #ebebeb; }
  .button--grey:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3); }

.heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px; }
  .heading--white {
    color: #ffffff; }
  @media (min-width: 768px) {
    .heading {
      font-size: 60px;
      line-height: 60px; } }

.promo {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../../img/index-promo-background-mobile.png");
  background-size: 100% 302px; }
  @media (min-width: 768px) {
    .promo {
      background-image: none; } }
  @media (min-width: 1440px) {
    .promo {
      min-height: 552px;
      margin-bottom: 82px; } }

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px; }
  @media (min-width: 768px) {
    .promo__wrapper {
      align-items: flex-start; } }

.promo__wrapper img {
  margin-bottom: 3px; }
  @media (min-width: 768px) {
    .promo__wrapper img {
      width: 709px;
      height: 609px; } }
  @media (min-width: 1440px) {
    .promo__wrapper img {
      position: absolute;
      left: 585px;
      width: 552px;
      height: 499px; } }

.promo__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 25px;
  text-align: center; }
  @media (min-width: 768px) {
    .promo__heading {
      font-size: 60px;
      line-height: 60px;
      width: 414px;
      padding-left: 87px;
      padding-bottom: 41px;
      text-align: left;
      color: #000000; } }
  @media (min-width: 768px) {
    .promo__heading {
      padding-left: 80px;
      padding-top: 78px; } }

.promo__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
  color: #ffffff;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .promo__slogan {
      font-size: 20px;
      line-height: 20px;
      color: #000000;
      padding-left: 87px; } }
  @media (min-width: 768px) {
    .promo__slogan {
      margin-bottom: 52px;
      padding-bottom: 0;
      padding-left: 80px; } }

.promo__button {
  padding: 7px 44px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none; }
  @media (min-width: 768px) {
    .promo__button {
      font-size: 20px;
      line-height: 20px;
      position: relative;
      top: -600px;
      z-index: 2;
      margin-left: 83px;
      padding: 14px 26px;
      width: 244px; } }
  @media (min-width: 1440px) {
    .promo__button {
      top: 0;
      z-index: 2;
      margin-left: 80px; } }

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 1440px) {
    .programs__list {
      flex-direction: row; } }

.programs__item {
  position: relative;
  background-color: #f2f2f2;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .programs__item {
      min-height: 372px; } }
  @media (min-width: 1440px) {
    .programs__item {
      width: 570px;
      min-height: 374px;
      margin-bottom: 0; } }

.programs__item--slim::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 22px;
  width: 50px;
  height: 53px;
  background-image: url("../img/icons/cat_slim.svg");
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .programs__item--slim::before {
      top: 81px;
      left: 450px;
      width: 200px;
      height: 211px;
      background-size: 200px 211px; } }
  @media (min-width: 1440px) {
    .programs__item--slim::before {
      top: 38px;
      left: 52px;
      width: 100px;
      height: 106px;
      background-size: 100px 106px; } }

.programs__item--weight::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 13px;
  width: 67px;
  height: 50px;
  background-image: url("../img/icons/cat_weight.svg"); }
  @media (min-width: 768px) {
    .programs__item--weight::before {
      top: 91px;
      left: 415px;
      width: 268px;
      height: 200px;
      background-size: 268px 200px; } }
  @media (min-width: 1440px) {
    .programs__item--weight::before {
      top: 44px;
      left: 33px;
      width: 134px;
      height: 100px;
      background-size: 134px 100px; } }

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  padding-top: 30px;
  padding-left: 91px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .programs__title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 24px;
      padding-top: 77px;
      padding-left: 53px; } }
  @media (min-width: 1440px) {
    .programs__title {
      padding-left: 214px;
      margin-bottom: 73px; } }

.programs__description {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  padding-left: 22px;
  padding-right: 33px;
  color: #444444; }
  .programs__description::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 23px;
    width: 88%;
    height: 1px;
    background-color: #d9d9d9; }
    @media (min-width: 768px) {
      .programs__description::after {
        display: none; } }
  @media (min-width: 768px) {
    .programs__description {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 48px;
      padding-left: 52px;
      width: 377px; } }
  @media (min-width: 1440px) {
    .programs__description {
      margin-bottom: 23px;
      width: 467px; } }

@media (min-width: 768px) {
  .programs__description-weight {
    width: 342px; } }

@media (min-width: 1440px) {
  .programs__description-weight {
    margin-bottom: 23px;
    width: 457px; } }

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 22px;
  padding-bottom: 18px;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer; }
  .programs__link:active {
    color: rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .programs__link {
      font-size: 20px;
      line-height: 29.64px;
      padding-left: 52px; } }

.programs__link::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 119px;
  width: 24px;
  height: 12px;
  background-image: url("../img/icons/icon-arrow.svg");
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .programs__link::after {
      top: 10px;
      left: 185px;
      width: 32px;
      height: 12px; } }

@media (min-width: 768px) {
  .instruction {
    border-bottom: 1px solid #e6e6e6; } }

@media (min-width: 1440px) {
  .instruction {
    border-bottom: none; } }

.instruction__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .instruction__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 37px;
      margin-bottom: 47px; } }
  @media (min-width: 1440px) {
    .instruction__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 80px;
      margin-bottom: 0; } }

.instruction__item {
  position: relative;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .instruction__item {
      width: 250px;
      background-repeat: no-repeat; }
      .instruction__item--leaf {
        width: 230px;
        background-image: url("../img/instruction-number-first.png");
        background-position: 118px 0; }
      .instruction__item--water {
        width: 246px;
        background-image: url("../img/instruction-number-second.png");
        background-position: 112px 0; }
      .instruction__item--fork {
        width: 247px;
        background-image: url("../img/instruction-number-third.png");
        background-position: 113px 0; }
      .instruction__item--clock {
        width: 249px;
        background-image: url("../img/instruction-number-fourth.png");
        background-position: 113px 0; } }
  .instruction__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px; }
    @media (min-width: 768px) {
      .instruction__item::before {
        top: 40px;
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: #68b738; } }
  @media (min-width: 768px) {
    .instruction__item {
      min-height: 280px; }
      .instruction__item:nth-child(2n-1) {
        margin-right: 153px; }
      .instruction__item:nth-child(2n) {
        margin-right: 55px; } }
  @media (min-width: 1440px) {
    .instruction__item:nth-child(2n-1) {
      margin-right: 0;
      margin-bottom: 0; }
    .instruction__item:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 0; }
    .instruction__item--leaf {
      background-position: 126px 40px;
      padding-right: 15px; }
    .instruction__item--water {
      background-position: 123px 37px; }
    .instruction__item--fork {
      width: 249px;
      background-position: 124px 37px; }
    .instruction__item--clock {
      width: 250px;
      background-position: 120px 40px; } }

.instruction__item--leaf::before {
  background-image: url("../img/icons/icon-leaf.svg"); }

.instruction__item--water::before {
  background-image: url("../img/icons/icon-water.svg"); }

.instruction__item--fork::before {
  background-image: url("../img/icons/icon-fork.svg"); }

.instruction__item--clock::before {
  background-image: url("../img/icons/icon-clock.svg"); }

.instruction__heading {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  margin-bottom: 38px; }
  @media (min-width: 768px) {
    .instruction__heading {
      padding-top: 45px; } }
  @media (min-width: 1440px) {
    .instruction__heading {
      margin-bottom: 32px;
      padding-top: 68px; } }

.instruction__description {
  min-height: 53px;
  margin: 0;
  padding: 0;
  padding-left: 80px;
  padding-top: 2px;
  color: #444444; }
  @media (min-width: 768px) {
    .instruction__description {
      font-size: 16px;
      line-height: 24px;
      padding-left: 0;
      padding-top: 151px; } }

@media (min-width: 768px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 60%, #f2f2f2 60%); } }

@media (min-width: 1440px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 30%, #f2f2f2 20%); } }

@media (min-width: 768px) {
  .example__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; } }

@media (min-width: 1440px) {
  .example__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 690px; } }

.example__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  padding-top: 27px; }
  @media (min-width: 768px) {
    .example__heading {
      padding-top: 43px;
      margin-bottom: 63px; } }
  @media (min-width: 768px) {
    .example__heading {
      padding-top: 69px;
      margin-bottom: 63px; } }
  @media (min-width: 1440px) {
    .example__heading {
      margin-bottom: 146px; } }

.example__facts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 28px; }
  @media (min-width: 768px) {
    .example__facts {
      min-width: 366px;
      justify-content: flex-start;
      margin-bottom: 59px; } }

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid #cdcdcd;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .example__item {
      width: 162px; }
      .example__item:first-child {
        margin-right: 42px; } }

.example__description {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  color: #444444; }
  @media (min-width: 768px) {
    .example__description {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 54px; } }
  @media (min-width: 1440px) {
    .example__description {
      width: 436px; } }

.example__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase; }

.example__definition {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  width: 80px;
  top: 45px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff; }
  @media (min-width: 1440px) {
    .example__definition {
      background-color: #f2f2f2; } }

.example__spendings {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .example__spendings {
      font-size: 20px;
      line-height: 20px;
      width: 174px;
      align-self: center;
      text-align: right;
      margin-left: 100px; } }
  @media (min-width: 1440px) {
    .example__spendings {
      font-size: 20px;
      line-height: 20px;
      width: 327px;
      align-self: flex-start;
      text-align: left;
      margin-left: 0; } }

@media (min-width: 1440px) {
  .example__cost {
    margin-left: 58px; } }

@media (min-width: 768px) {
  .slider {
    margin-right: auto;
    margin-left: auto; } }

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 13px; }

.slider__item {
  display: none;
  text-align: center;
  min-height: 240px; }
  .slider__item--current {
    display: block; }

@media (min-width: 768px) {
  .slider__image {
    width: 708px;
    height: 620px; } }

@media (min-width: 1440px) {
  .slider__image {
    width: 620px;
    height: 515px; } }

.slider__image--fat {
  position: relative;
  left: -21px; }

.slider__image--thin {
  display: none; }

.slider__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 0;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .slider__text {
      font-size: 20px;
      line-height: 29.64px;
      border-bottom: 1px dotted #cdcdcd; } }
  .slider__text:hover {
    border-bottom: 1px solid #cdcdcd; }
  .slider__text:active {
    border-bottom: none; }

.slider__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 228px;
  min-height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 25px; }
  @media (min-width: 768px) {
    .slider__controls {
      width: 592px; } }

.slider__scale {
  position: relative;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .slider__scale {
      width: 428px;
      height: 6px;
      margin-left: 22.5px;
      margin-right: 24px; } }

.slider__bar {
  box-sizing: border-box;
  width: 50%;
  height: 6px;
  margin-top: 3px;
  margin-bottom: 4px;
  margin-left: 6px;
  background-color: #68b738;
  border-radius: 6px; }
  @media (min-width: 768px) {
    .slider__bar {
      position: absolute;
      top: -17px;
      left: 200px;
      width: 34px;
      height: 34px;
      box-sizing: border-box;
      background-color: #68b738;
      border: 13px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16); } }

.page-header-index {
  position: relative; }
  @media (min-width: 1440px) {
    .page-header-index::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 50%;
      background-color: #68b738;
      background-image: url("../../img/index-promo-background-desktop.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
      z-index: -1; } }

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  @media (min-width: 768px) {
    .page-header__wrapper {
      align-items: center;
      justify-content: space-between;
      padding-top: 24px; } }
  @media (min-width: 1440px) {
    .page-header__wrapper {
      align-items: flex-start;
      padding-top: 53px; } }

.page-header__logo--small {
  width: 33px;
  height: 38px;
  margin-right: -55px;
  padding-top: 12px;
  padding-bottom: 12px; }
  @media (min-width: 768px) {
    .page-header__logo--small {
      width: 174px;
      height: 52px;
      margin-right: 95px; } }
  @media (min-width: 1440px) {
    .page-header__logo--small {
      width: 202px;
      height: 59px; } }

.page-header__logo-text {
  width: 101px;
  height: 18px;
  padding-top: 24px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .page-header__logo-text {
      display: none; } }

.page-footer {
  position: relative;
  background-color: #f2f2f2; }

.page-footer__contacts {
  background-color: #ffffff; }
  @media (min-width: 1440px) {
    .page-footer__contacts {
      background-color: #f2f2f2; } }

.page-footer__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .page-footer__text {
      align-items: center;
      padding-top: 62px;
      padding-bottom: 58px; } }
  @media (min-width: 1440px) {
    .page-footer__text {
      position: absolute;
      top: 95px;
      left: 110px;
      justify-content: center;
      width: 570px;
      background-color: #ffffff; } }

.page-footer__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 22px;
  text-transform: uppercase;
  color: #111111; }
  @media (min-width: 768px) {
    .page-footer__heading {
      font-size: 20px;
      line-height: 21px;
      width: 170px;
      padding-top: 5px; } }

.page-footer__adress {
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 22px;
  color: #444444; }
  @media (min-width: 768px) {
    .page-footer__adress {
      font-size: 16px;
      line-height: 20px;
      width: 159px;
      padding: 0; } }

@media (max-width: 767px) {
  .page-footer__adress br {
    display: none; } }

.page-footer__bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .page-footer__bottom-content {
      flex-direction: row; } }

.page-footer__logo-text {
  display: block;
  padding-top: 39px;
  padding-bottom: 32px; }
  .page-footer__logo-texthover {
    opacity: 0.8; }
  .page-footer__logo-textactive {
    opacity: 0.6; }

.page-footer__social {
  width: 100%;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .page-footer__social {
      border: 0;
      width: 129px; } }

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      justify-content: flex-end;
      width: 163px; } }

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  min-height: 22px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .social__list {
      width: 129px; } }

.social__link--vkontakte,
.social__link--instagram {
  text-decoration: none; }
  .social__link--vkontakte:hover path,
  .social__link--instagram:hover path {
    fill: #68b738; }
  .social__link--vkontakte:active path,
  .social__link--instagram:active path {
    fill: rgba(104, 183, 56, 0.25); }

.social__link--facebook:hover path {
  stroke: #68b738; }

.social__link--facebook:active path {
  stroke: rgba(104, 183, 56, 0.25); }

.copyright__link {
  font-size: 16px;
  line-height: 18.4px;
  text-decoration: none;
  color: #444444; }
  .copyright__link:active {
    color: rgba(68, 68, 68, 0.25); }
  @media (min-width: 768px) {
    .copyright__link {
      margin-right: 21px; } }

.copyright__icon:hover path {
  fill: #68b738; }

.copyright__icon:active path {
  fill: rgba(104, 183, 56, 0.25); }

.program__header {
  line-height: 36px; }

.program__text--subheading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.program__text--regular {
  line-height: 16px; }

.form__main-info {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1440px) {
    .form__main-info {
      flex-direction: row; } }

.form__owner-info {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1440px) {
    .form__owner-info {
      flex-direction: row; } }

.form__additional-info {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .form__additional-info {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }

.form__final-info {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .form__final-info {
      flex-direction: row;
      flex-wrap: wrap; } }

.form__label {
  display: block;
  margin-bottom: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }
  .form__label--text, .form__label--email {
    color: #444444; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .form__label--checkbox {
      width: 50%; } }

.form__input--textarea {
  min-width: 280px; }

.form__input::-moz-placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }

.form__input::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444; }

.form__button {
  width: 100%;
  border: none;
  padding: 7px 44px; }
  @media (min-width: 768px) {
    .form__button {
      width: 282px; } }
  @media (min-width: 1440px) {
    .form__button {
      width: 568px; } }

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border: none; }

.fieldset__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px; }

.catalog-general__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .catalog-general__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }

.catalog-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 209px;
  margin-bottom: 20px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .catalog-item {
      flex-direction: column;
      justify-content: flex-end;
      width: 324px;
      min-height: 430px;
      padding-left: 36px;
      padding-right: 36px; } }
  @media (min-width: 1440px) {
    .catalog-item {
      width: 245px;
      min-height: 431px;
      padding-left: 35px;
      padding-right: 30px; } }

.catalog-item__link {
  text-decoration: none; }
  .catalog-item__link:active {
    color: #222222; }
  .catalog-item__link:visited {
    color: #222222; }

.catalog-item__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }

.catalog-item__description {
  list-style: none;
  margin: 0;
  padding: 0; }

.catalog-item__button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px; }
  .catalog-item__button--last {
    padding-top: 20px;
    padding-bottom: 20px; }

.catalog-item__text {
  font-size: 12px;
  line-height: 16px; }

.main-item-description {
  font-size: 12px;
  line-height: 16px; }

.catalog-additional__heading {
  font-size: 24px;
  line-height: 24px; }

.catalog-additional__list {
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 1440px) {
    .catalog-additional__list {
      width: 896px; } }

.additional-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px; }
  @media (min-width: 1440px) {
    .additional-item {
      flex-direction: row; } }

.additional-item__heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase; }

.additional-item__description {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px; }

.additional-item__button {
  width: 100%;
  padding: 7px 44px; }
  @media (min-width: 1440px) {
    .additional-item__button {
      width: 244px; } }

.catalog-promo {
  min-height: 289px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .catalog-promo {
      min-height: 200px; } }
  @media (min-width: 1440px) {
    .catalog-promo {
      width: 245px; } }

.catalog-promo__wrapper {
  min-width: 100%;
  min-height: 289px;
  background-color: #68b738;
  background-image: url("../../img/gift-photo-mobile.png");
  background-repeat: no-repeat; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .catalog-promo__wrapper {
      min-height: 200px;
      background-image: url("../../img/gift-photo-tablet.png"); } }
  @media (min-width: 1440px) {
    .catalog-promo__wrapper {
      width: 245px; } }

.catalog-promo__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff; }

.wrapper {
  width: 87.5%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 768px) {
    .wrapper {
      width: 92.5%;
      padding-right: 30px;
      padding-left: 30px; } }
  @media (min-width: 1440px) {
    .wrapper {
      width: 1220px;
      padding-right: 110px;
      padding-left: 110px; } }

.catalog-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 1440px) {
    .catalog-bottom-container {
      flex-direction: row; } }

/*# sourceMappingURL=style.css.map */
